{% extends 'blog/layout_page.html' %}

{% block post %}
  <p><b>戈楷旎</b>就是我的英文名<i>Geekinney</i>的谐音～</p>
  <div id="outline-container-org80341a2" class="outline-2">
    <h2 id="org80341a2">关于我和Emacs</h2>
    <div class="outline-text-2" id="text-org80341a2">
      <p>我是谁？emacser，本科计算机专业毕业。兴趣广泛，喜爱阅读、听歌、追番、听播客、折腾计算机技术、hack emacs&#x2026;</p>
      <ul class="org-ul">
        <li>读过的最爱的书是:
          <a href="https://book.douban.com/subject/6781808/">《杀死一只知更鸟》</a></li>
        <li>最喜欢的日漫是: 
          <a href="https://www.bilibili.com/bangumi/media/md1177/?from=search&amp;seid=2519849805582432897">《CLANNAD》</a></li>
        <li>最喜欢的动漫角色是: 
          <a href="https://search.bilibili.com/all?keyword=%E9%BB%84%E5%89%8D%E4%B9%85%E7%BE%8E%E5%AD%90">黄前久美子</a></li>
        <li>最喜欢听的播客是: 
          <a href="https://www.ximalaya.com/yinyue/8583636/">《大内密谈》</a></li>
        <li>最崇拜的计算机hacker是: 
          <a href="https://zh.wikipedia.org/wiki/%E9%AB%98%E5%BE%B7%E7%BA%B3">Donald Knuth</a></li>
      </ul>
      <p>我的一天绝大部分时间是在emacs中度过的。我在emacs中编程、写作、学习、管理日程、搭建博客&#x2026;(此处省略一万字)。那么Emacs是什么？看懒猫的这两篇文章：<a href="https://manateelazycat.github.io/emacs/2016/03/06/what-is-emacs.html">Emacs是一种生活方式</a> 和 <a href="https://manateelazycat.github.io/emacs/2018/12/11/study-emacs.html">如何学习emacs</a>。</p>
      <p>如果你是程序员，我强烈推荐你使用emacs，它会极大的提高学习工作效率；如果你不是程序员，但不怕折腾，我也推荐你尝试emacs，它会成为你时间管理与文档书写的利器。</p>
      <p>入门emacs，推荐观看子龙山人的 <a href="https://v.youku.com/v_show/id_XMTUwNjU0MjE0OA==.html">Master Emacs in 21 Days</a> 系列视频。使用emacs过程遇到问题可以在 <a href="https://emacs-china.org">emacs-china</a> 论坛向大神求助。<b>At Last, happy hacking emacs!</b></p>
    </div>
  </div>
  <div id="outline-container-org4207d3c" class="outline-2">
    <h2 id="org4207d3c">为什么开设博客</h2>
    <div class="outline-text-2" id="text-org4207d3c">
      <p><b>学计算机的人，热衷于技术从理论到实践的探索，想用学过的技术做点实用的事情。</b></p>
      <p>一直想拥有自己的独立博客，正好毕设又学习了Django框架，便折腾起来。2019年暑假博客初步建成，使用Django+mysql，后面又改为静态博客。经过多次探索自己喜爱的blogging方式，最后决定使用<i>Emacs orgMode</i>。折腾过程详细记录在"<a href="https://geekinney.com/post/experience-of-setting-up-my-own-blog-site.html">记我的博客折腾经历</a>"这篇文章中。</p>
      <p><b>除了实现对技术的想象，搭建博客更多的是想记录自己的成长。</b></p>
      <p>交流、学习、工作、电影、播客、动漫、文章&#x2026;.我们接触生活的每一种方式都会在脑海中留下大量信息。这些信息进行提炼、联系、再创造就产生了灵感和思考。某些深刻的思考成了我们的生活经验，潜移默化的指导生活；一般的思考留在了我们的记忆中，等待被诉诸文字或言语的机会；而大多数的灵感则在片刻停留后，销声匿迹。<b>我的博客要记录那些于生活有益的经验，于工作有助的思考，于无声处作用的灵感，这些便是成长的印记。</b></p>
    </div>
  </div>
  <div id="outline-container-org9d18e2b" class="outline-2">
    <h2 id="org9d18e2b">关于版权的说明</h2>
    <div class="outline-text-2" id="text-org9d18e2b">
      <p>若无特别说明，文章皆为原创，图片来自pixabay, unsplash等正版图像素材库。</p>
      <p>本站的所有内容均遵循“署名-非商业性使用-相同方式共享 4.0 国际 (CC BY-NC-SA 4.0)”协议，这意味着你可以在标记出处的情况下自由的分享或进行二次创作。关于此协议的详细内容请看<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">这里</a>。</p>
    </div>
  </div>
  <div id="outline-container-org206157e" class="outline-2">
    <h2 id="org206157e">关于隐私与评论</h2>
    <div class="outline-text-2" id="text-org206157e">
      <p>博客不会追踪单个访客行为，且不要求访客提供敏感信息（比如真实姓名，身份证号码等），因而不会有任何隐私泄漏问题。</p>
      <p>欢迎评论留言，但请遵守基本的礼貌规范，禁止发布任何有关淫秽，反动，暴力，赌博，恐吓或违法的评论，在尊重言论自由的同时保持和平与理性。请勿对其中的任何评论者采取不友好的评论与过激争吵行为。对此我将保留删除评论的权利。</p>
    </div>
  </div>
  <div id="outline-container-orgaec7edd" class="outline-2">
    <h2 id="orgaec7edd">交流联系</h2>
    <div class="outline-text-2" id="text-orgaec7edd">
      <p>如有问题，欢迎交流探讨:</p>
      <p>
        <i class="fab fa-weixin"></i> zhangk1996<br>
        <i class="fas fa-envelope"></i> kinneyzhang666@gmail.com<br>
        <i class="fab fa-github"></i>
        <a href="https://github.com/Kinneyzhang/">Kinneyzhang</a><br>
      </p>
    </div>
  </div>
  <div id="outline-container-org63d426b" class="outline-2">
    <h2 id="org63d426b">公号推荐</h2>
    <div class="outline-text-2" id="text-org63d426b">
      <p>好友Elena的微信公众号:<b>Oops Elena</b><br>
        分享美剧知识，记录旅行生活，扫描👇二维码关注吧~</p>
      <figure>
        <img src="/static/image/Oops-Elena.png" alt="Oops-Elena.png">
      </figure>
    </div>
  </div>
{% endblock %}
