{% extends 'blog/layout_page.html' %}
{% load templatetags %}

{% block post %}
  {% nowtime as now %}
  <h3 class="lead border-bottom pb-3">谁有生活理想和实现它的计划，谁便善于沉默，谁没有这些，谁便只好夸夸其谈。</h3>
  <div class="mt-3">
    <div class="text-left">
      <a href="/plan/year/{{now|date:"Y"}}/"
         class="badge badge-secondary">年度记录</a>
      <a href="/plan/month/{{now|date:"Y-m"}}/"
         class="badge badge-warning">月度记录</a>
      <a href="/plan/date/{{now|date:"Y-m-d"}}/"
         class="badge badge-success">日度记录</a>
    </div>
    {% block plan_specific %}
    {% endblock %}
  </div>
{% endblock %}
