{% extends 'blog/layout_page.html' %}

{% block post %}
  <h3 class="lead border-bottom pb-3">谁有生活理想和实现它的计划，谁便善于沉默，谁没有这些，谁便只好夸夸其谈。</h3>
  <div class="mt-4">
    <div class="">
      <div class="row mt-4">
        {% for category,plans in plans.items %}
          {% if plans %}
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
              <h5 class="text-primary font-weight-bold">{{category}}</h5>
              {% for plan in plans %}
                <div class="ml-2">
                  {% ifequal plan.status 'todo' %}
                    <input type="checkbox" disabled>
                  {% else %}
                    <input type="checkbox" disabled checked>
                  {% endifequal %}
                  {{plan.name}}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <hr>
  </div>
{% endblock %}
