{% extends 'blog/plan.html' %}

{% block plan_specific %}
  <form action="/plan/month/" method="post">
    {% csrf_token %}
    <div class="form-group d-flex">
      <i class="far fa-calendar"></i>&nbsp;&nbsp;
      <input type="text" name="year" class="form-control"
             placeholder="2020" maxlength="4">
      <span>&nbsp;/&nbsp;</span>
      <input type="text" name="month" class="form-control"
             placeholder="01" maxlength="2">&nbsp;&nbsp;
      <button type="submit" class="btn btn-outline-secondary btn-sm active">
        Submit</button>
    </div>
  </form>
  {% if error %}
    <div class="alert alert-primary" role="alert">
      请输入正确格式的 "年/月" ！
    </div>
  {% endif %}
  {% if month %}
    <div class="border-top mt-4 pt-3">
      <h4 class="text-dark font-weight-bold">Monthly Log {{month}}</h4>
    </div>
  {% endif %}
{% endblock %}
